<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <stringAttribute key="alias" value=""/>
    <intAttribute key="collectCoverage" value="1"/>
    <stringAttribute key="configurationName" value="RefinementA5B3"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.22.214.246"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="120"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="SpecIIatoIIIa"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="UserChannelBalance, ChannelUserHTLCHistory, TxAge, UserPreimageInventory, UserPayments, ChannelPendingBalance, UserLatePreimages, UserNewPayments, ChannelUserBalance, ChannelMessages, ChannelUsedTransactionIds, ChannelUserVars, LedgerTx, UserPaymentSecretForPreimage, UserExtBalance, ChannelUserInventory, UserRequestedInvoices, UserHonest, ChannelUserDetailVars, LedgerTime, ChannelUserState, ChannelPersistedHTLCsBeforeClose, Messages"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1SpecificationIIIa!SpecIIIa"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="12"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="ActiveChannels;;{1};0;0"/>
        <listEntry value="SingleSignature;;SingleSignature;1;0"/>
        <listEntry value="UserInitialPayments;;&lt;&lt;&#10;    {[id |-&gt; 3, amount |-&gt; 5, path |-&gt; &lt;&lt;[name |-&gt; &quot;UserA&quot;], [name |-&gt; &quot;UserB&quot;]&gt;&gt;, absTimelock |-&gt; 9, incomingCommitted |-&gt; TRUE, invoiceRequested |-&gt; FALSE]},&#10;    {[id |-&gt; 4, amount |-&gt; 3, path |-&gt; &lt;&lt;[name |-&gt; &quot;UserB&quot;], [name |-&gt; &quot;UserA&quot;], [name |-&gt; &quot;UserC&quot;]&gt;&gt;, absTimelock |-&gt; 16, incomingCommitted |-&gt; TRUE, invoiceRequested |-&gt; FALSE]},&#10;    {},&#10;    {},&#10;    {}&#10;&gt;&gt;;0;0"/>
        <listEntry value="MAX_TIME;;25;0;0"/>
        <listEntry value="AllSigHashLock;;AllSigHashLock;1;0"/>
        <listEntry value="SingleSigHashLock;;SingleSigHashLock;1;0"/>
        <listEntry value="AllSignatures;;AllSignatures;1;0"/>
        <listEntry value="NameForUserID;;&lt;&lt;[name |-&gt; &quot;UserA&quot;],&#10;[name |-&gt; &quot;UserB&quot;],&#10;[name |-&gt; &quot;UserC&quot;],&#10;[name |-&gt; &quot;UserD&quot;],&#10;[name |-&gt; &quot;UserE&quot;]&gt;&gt;;0;0"/>
        <listEntry value="NullUser;;[name |-&gt; &quot;None&quot;];0;0"/>
        <listEntry value="RevKeyForUserID;;&lt;&lt;&quot;UserARev&quot;, &quot;UserBRev&quot;&gt;&gt;;0;0"/>
        <listEntry value="OptimizedTxAge;;TRUE;0;0"/>
        <listEntry value="UserInitialBalance;;&lt;&lt;10, 0&gt;&gt;;0;0"/>
        <listEntry value="STRICT_WITHDRAW;;TRUE;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="postCondition" value=""/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <stringAttribute key="simuNumTraces" value="9223372036854775807"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="SpecificationIIatoIIIa"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
